body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.container {
	background-color: #ff6600;


}

nav {
	background-color: #333;
	overflow: hidden;
}

nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #575757;
}

section {
	padding: 20px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.carousel-container {

	position: relative;
	width: 100%;
	max-width: 700px;
	/* 可选：限制最大宽度 */
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	/* 可选：使容器水平居中 */
}


.carousel-slide {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
	width: 100%;

}

button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	user-select: none;
}

button:focus {
	outline: none;
}

button.prev {
	left: 10px;
}

button.next {
	right: 10px;
}

.contact-box {
	z-index: 1000;
	position: fixed;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	padding: 10px;
	background-color: #ffffff;
	;
	border: 2px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
	/* 使内容居中 */
}

.contact-box img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
	/* 图片下方的间距 */
}

.contact-box h2 {
	margin-top: 0;
	font-size: 1.5em;
	color: #333;
}

.contact-box p {
	margin: 10px 0;
	color: #666;
}

.contact-box a {
	color: #007BFF;
	text-decoration: none;
}

.contact-box a:hover {
	text-decoration: underline;
}